.section__container{
    background-color: rgb(194, 194, 194);
}
.about__container h2{
    color: black;
    font-size: 50px;
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 30px;
}
.about__container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 25rem;
    align-items: center;
  }
  
  .about__content p {
    /* top: 50px; */
   margin-left: 42px;
    /* font-weight:bold; */
    font-size: 20px;
    color:black;
  }
  
  .about__image img {
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
  }
  
  /* body{
    background-color: #2ec8a6;
   */
   /* end */