@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    background-color: white
}

:root {
    --maincolor: #2ec8a6;
    --secondcolor: #f8a803;
    --thirdcolor: #f4ab01;
    --textcolor: #4A5764;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    font-family: "Inter", sans-serif;

} */

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

.logo {
    width: 150px;
}

.logo img {
    width: 50%;



}
.nav-hover:hover {
    font-weight:bolder;}

.navbar a {
    color: var(--textcolor);
    font-size: 1.7rem;
    margin: 1rem;
    position: relative;
    transition: 0.5s;
}

.navbar a:hover {
    color: var(--maincolor);
}
.navbar-transparent {
    background: transparent !important;
  }

.navbar a::after {
    content: "";
    background-color: var(--maincolor);
    width: 0;
    position: absolute;
    height: 0.2rem;
    left: 0;
    margin-top: 0.5rem;
    top: 100%;
    transition: 0.5s;
}

.navbar a:hover::after {
    width: 100%;
}



#menu-bars {
    color: var(--textcolor);
    font-size: 2.5rem;
    cursor: pointer;
    margin-right: 1rem;
    display: none;
}

#menu-bars:hover {
    color: var(--maincolor);
}

.right-icons .btn {

    padding: 1.2rem 2rem;
    font-size: 1.7rem;
    background: var(--maincolor);
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.right-icons .btn:hover {
    background-color: var(--secondcolor);
}

/* header section ended */

/* Home section started */

.main-home {
    padding: 2rem 7%;
    background-image: url(assets/blurbg1.jpg);
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* margin-top: -60px; */
}

.home {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 6rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.home .home-left-content {
    flex: 1 1 40rem;
}

.home-left-content span {
    font-size: 34px;
    color: rgb(13, 15, 13);

    /* color: var(--maincolor); */
    padding: 1rem 0;
    font-weight: bolder;
}

.home-left-content h2 {
    font-size: 48px;
    margin: 1rem 0;
    color: rgb(7, 7, 7);

}

.home-left-content p {
    font-size: 1.7rem;
    color: var(--textcolor);
    line-height: 3rem;
}

.home-btn {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    /* color: black; */
}

.home-btn a{
    display: inline-block;
    padding: 1.5rem 3rem;
    background-color: var(--maincolor);
    /* background: transparent !important;
    border: 1px solid var(--maincolor); */
    font-size: 1.7rem;
    color: white;
    transition: 0.5s ease;
}

.home-btn a:hover {
    padding: 1.5rem 2.5rem;
    color: black;
}


.homebtnsec {
    /* background: transparent !important; */
    background-color: var(--maincolor);
    color: white;
    border: 1px solid var(--maincolor);
}

.homebtnsec:hover {
    background-color:#2EC8A6 !important;
    color: rgb(13, 12, 12) !important;
}

.home .home-right-content {
    /* flex: 1 1 50rem; */
    height: 500px;
    width: 700px;
    position: absolute;
    top: 40%;
    left: 30%;

}

.home .home-right-content img {
    width: 100%;
    margin-top: -100px;
    margin-left: 200px;
}
/* booking wala */

.technology {
    padding: 3rem 7%;
    background-color: white;
}

.main-technology {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: -100px;
    ;
}

.inner-technology {
    flex: 1 1 300px;
    padding: 3rem 3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: black;
    background-image: url(assets/backgroung-pattern-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: white;
    position: relative;
    z-index: 1;
}

.inner-technology span {
    width: 0;
    height: 100%;
    background-color: var(--maincolor);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.5s;

}

.inner-technology:hover span {
    width: 100%;
}


.inner-technology:hover {
    background: var(--maincolor);

}

.inner-technology:hover i {

    color: white;
}

.inner-technology:hover h2 {
    color: white;
}

.inner-technology:hover p {
    color: white;
}

.inner-technology i {
    font-size: 48px;
    color: var(--maincolor);

}

.inner-technology h2 {
    font-size: 2.5rem;
    padding: 1rem 0;
}

.inner-technology p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 1rem 0;
}
/* 
.main-doctors {
    padding: 5rem 9%;
    background-image: url(assets/backgroung-pattern-3.png);
    background-color: white;
    width: 100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.doctors-heading {
    font-size: 90px;
    text-align: center;
    margin: 3rem;
    color: var(--maincolor);
}

.main-inner-doctor {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6rem;

}

.doc-poster {
    flex: 1 1 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    overflow: hidden;

}

.doc-poster img {
    width: 100%;
    border: 0.7rem solid var(--maincolor);
}

.doc-poster:hover img {
    border-radius: 0 50px 0 0;
}

.doc-icons {
    position: absolute;
    left: -100%;
    top: 10%;
    transition: 0.5s;
}

.doc-poster:hover .doc-icons {
    left: 5%;
}

.doc-icons i {
    font-size: 2rem;
    margin: 0.5rem;
    border: 1px solid var(--secondcolor);
    color: var(--maincolor);
    padding: 1rem;
    background-color: white;
    cursor: pointer;

}

.doc-icons i:hover {
    background-color: white;
    color: var(--secondcolor);
    border-radius: 10px !important;
    transform: scale(1.2);
    border: 1px solid var(--maincolor);
}

.doc-poster::after {
    content: "";
    background: linear-gradient(0deg, #f5f5f5 50%, transparent);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 1;
    bottom: -200px;
    transition: 0.5s;
}

.doc-poster:hover:after {
    bottom: -100px;
}



.doc-details {
    position: absolute;
    text-align: center;
    z-index: 2;
    bottom: -30px;
    left: 40%;

}

.doc-details h2 {
    color: black;
    font-size: 25px;
    padding: 2rem 0;
}

.doc-details i {
    padding: 0.5rem;
    font-size: 2.5rem;
    color: var(--maincolor);
    cursor: pointer;
}

.doc-details i:hover {
    color: var(--secondcolor);
    transform: scale(1.2);
}

.doc-poster:hover .doc-details {
    bottom: 10px;
} */

/* doctorlist */
/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */
/* body {
  background-color: #f5f5f5;
} */
.row98 {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 1em;
  text-align: center;
}
.column98 {
  width: 100%;
  padding: 0.5em 0;
}
.row98 h1 {
  width: 100%;
  text-align: center;
  font-size: 3.5em;
  color: #2ec8a6;
}
.card98 {
  box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
  padding: 3.5em 1em;
  border-radius: 0.6em;
  color: #1f003b;
  cursor: pointer;
  transition: 0.3s;
  background-color: #ffffff;
}
.card98 .img-container98 {
  width: 8em;
  max-width: 100%;
  height: 8em;
  display: flex;
  max-height: 100;
  background-color: #a2a2a4;
  /* padding: 1px;; */
  border-radius: 50%;
  margin: 0 auto 20px auto;
 
}
.card98 img {
  width: 100%;
  border-radius: 50%;
}
.card98 h3 {
  font-size: 30px;
}
.card98 p {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0.5em 0 2em 0;
  letter-spacing: 2px;
}
.icons98 {
  width: 50%;
  min-width: 180px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.card98 a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4em;
}
.card98:hover {
  /* background: linear-gradient(#6045ea, #8567f7); */
  background-color: #2EC8A6;
  color: white;
}
.card98:hover .img-container98 {
  transform: scale(1.15);
}
@media screen and (min-width: 768px) {
  section {
    padding: 1em 7em;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em;
  }
  .card98 {
    padding: 5em 1em;
  }
  .column98 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 1em;
  }
}

.our-service {
    width: 100%;
    padding: 3rem 7%;
    background-color: white;
    color: black;
}

.service-heading h2 {
    font-size: 40px;
    color: #2ec8a6;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 3rem;
}

.main-services {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    text-align: center;
}

.inner-services {
    flex: 1 1 300px;
    padding: 3rem 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 2px solid var(--textcolor);
    align-self: normal;

}

.inner-services:hover {
    transform: translateY(-10px);
    border-bottom: 2px solid var(--maincolor);
    background-color: #f5f5f5;
}

.inner-services:hover .service-icon {
    width: 100px;
    height: 100px;
    border-radius: 0;
    background-color: var(--maincolor);

}

.inner-services:hover .service-icon i {
    color: white;
    transform: scale(1.1);
}

.service-icon {
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid var(--maincolor);
    background-color: #f5f5f5;
}

.service-icon i {
    font-size: 3rem;
    color: var(--maincolor);
    padding: 1rem;
}

.inner-services h3 {
    font-size: 2rem;
    padding-top: 2rem;

}

.inner-services p {
    font-size: 1.5rem;
    padding: 1.5rem 0;
    line-height: 2.5rem;

}

/* services ends */
.main-review {
    padding: 2.5rem 7%;
    width: 100%;
    background-color: white;
    color: black;
}


.review-heading {
    text-align: center;
}

.review-heading h1 {
    font-size: 40px;
    color: var(--maincolor);
    padding-bottom: 3rem;
}

.review-inner-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4rem;
    text-align: center;
    padding: 4rem 0;

}

.review-box {
    flex: 1 1 300px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0 50px 0 0;
    border: 2px solid var(--maincolor);
    cursor: pointer;
    transition: 1s;
    align-self: normal;
}

.review-box:hover {

    border-radius: 50px 0 0 0;

}

.review-box img {
    border-radius: 100%;
    width: 100px;
    transition: 1s;
}

.review-box:hover img {
    transform: scale(1.1);
}

.review-stars {
    padding: 1rem 0;
}

.review-stars i {
    font-size: 2rem;
    color: var(--secondcolor);
    margin: 0.2rem;
}

.review-box h2 {
    font-size: 2rem;
    padding-top: 2rem;
}

.review-box p {
    font-size: 1.5rem;
    padding: 1rem 1rem;
    padding-bottom: 2rem;
    line-height: 2.5rem;
}

/* -------------------------------------------------------------------- */
/* banner------------------ */

.banner-one{
  /* background: -webkit-gradient(linear, left top, left bottom, from(rgba(53, 176, 49, 0.9)), to(rgba(27, 230, 78, 0.85))), url('assets/banner-1-img.png') top/cover no-repeat; */
  /* background: -o-linear-gradient(rgba(0, 80, 213, 0.9), rgba(33, 53, 82, 0.85)), url('assets/banner-1-img.png') top/cover no-repeat; */
  background: linear-gradient(rgba(248, 248, 248, 0.9), hsla(166, 54%, 61%, 0.85)), url('assets/banner-1-img.png') top/cover no-repeat;
  height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.banner-one .lead{
  font-size: 2.8rem;
  font-weight: 500;
  /* max-width: 600px; */
  padding-left: 10px; color: rgb(67, 70, 69);
}
.banner-one .text-sm{
  font-weight: 500;
  color: gray;
}
/* <----Login style----> */

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  
  /* body,
  .LoginInput {
    font-family: "Poppins", sans-serif;
  } */
  
  .loginContainer {
    position: relative;
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;
  }
  
  .forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .signin-signup {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
  }
  
  .loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .loginForm.sign-up-form {
    opacity: 0;
    z-index: 1;
  }
  
  .loginForm.sign-in-form {
    z-index: 2;
  }
  
  .title {
    font-size: 30px;
    color: #444;
    margin-bottom: 10px;
  }
  
  .input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }
  
  .input-field .i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  
  .input-field .LoginInput {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #080707;
  }
  
  .input-field .LoginInput::placeholder {
    color: #080808;
    font-weight: 500;
  }
  
  .social-text {
    padding: 0.7rem 0;
    font-size: 1rem;
  }
  
  .social-media {
    display: flex;
    justify-content: center;
  }
  
  .social-icon {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    color: #333;
    border-radius: 50%;
    border: 1px solid #333;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
  }
  
  .social-icon:hover {
    color: #4481eb;
    border-color: #4481eb;
  }
  
  .log-btn {
    width: 150px;
    background-color: #5995fd;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
    
  }
  
  .log-btn:hover {
    background-color: #4d84e2;
  }
  .panels-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .loginContainer:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    background-image: linear-gradient(-45deg, #2EC8A6 0%, #9cbd3b 100%);
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: 6;
    
  }
  
  .image {
    width: 50%;
    transition: transform 1.1s ease-in-out;
    transition-delay: 0.4s;
  }
  
  .panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
  }
  
  .left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
  }
  
  .right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
  }
  
  .panel .content {
    color: #fff;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
   
  }
  
  .panel .loginh3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
    font-size: 30px;
  }
  
  .panel .loginp {
    font-size: 15px;
    padding: 0.7rem 0;
  }
  
  .log-btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 16px;
  }
  
  .right-panel .image,
  .right-panel .content {
    transform: translateX(800px);
  }
  
  /* ANIMATION */
  
  .loginContainer.sign-up-mode:before {
    transform: translate(100%, -50%);
    right: 52%;
  }
  
  .loginContainer.sign-up-mode .left-panel .image,
  .loginContainer.sign-up-mode .left-panel .content {
    transform: translateX(-800px);
  }
  
  .loginContainer.sign-up-mode .signin-signup {
    left: 25%;
  }
  
  .loginContainer.sign-up-mode .loginForm.sign-up-form {
    opacity: 1;
    z-index: 2;
  }
  
  .loginContainer.sign-up-mode .loginForm.sign-in-form {
    opacity: 0;
    z-index: 1;
  }
  
  .loginContainer.sign-up-mode .right-panel .image,
  .loginContainer.sign-up-mode .right-panel .content {
    transform: translateX(0%);
  }
  
  .loginContainer.sign-up-mode .left-panel {
    pointer-events: none;
  }
  
  .loginContainer.sign-up-mode .right-panel {
    pointer-events: all;
  }
  
  @media (max-width: 870px) {
    .loginContainer {
      min-height: 800px;
      height: 100vh;
    }
    .signin-signup {
      width: 100%;
      top: 95%;
      transform: translate(-50%, -100%);
      transition: 1s 0.8s ease-in-out;
    }
  
    .signin-signup,
    .loginContainer.sign-up-mode .signin-signup {
      left: 50%;
    }
  
    .panels-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
    }
  
    .panel {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 2.5rem 8%;
      grid-column: 1 / 2;
    }
  
    .right-panel {
      grid-row: 3 / 4;
    }
  
    .left-panel {
      grid-row: 1 / 2;
    }
  
    .image {
      width: 200px;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.6s;
    }
  
    .panel .content {
      padding-right: 15%;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.8s;
    }
  
    .panel .loginh3 {
      font-size: 1.2rem;
    }
  
    .panel .loginp {
      font-size: 0.7rem;
      padding: 0.5rem 0;
    }
  
    .btn.transparent {
      width: 110px;
      height: 35px;
      font-size: 0.7rem;
    }
  
    .loginContainer:before {
      width: 1500px;
      height: 1500px;
      transform: translateX(-50%);
      left: 30%;
      bottom: 68%;
      right: initial;
      top: initial;
      transition: 2s ease-in-out;
    }
  
    .loginContainer.sign-up-mode:before {
      transform: translate(-50%, 100%);
      bottom: 32%;
      right: initial;
    }
  
    .loginContainer.sign-up-mode .left-panel .image,
    .loginContainer.sign-up-mode .left-panel .content {
      transform: translateY(-300px);
    }
  
    .loginContainer.sign-up-mode .right-panel .image,
    .loginContainer.sign-up-mode .right-panel .content {
      transform: translateY(0px);
    }
  
    .right-panel .image,
    .right-panel .content {
      transform: translateY(300px);
    }
  
    .loginContainer.sign-up-mode .signin-signup {
      top: 5%;
      transform: translate(-50%, 0);
    }
  }
  
   @media (max-width: 570px) {
     .loginForm {
       padding: 0 1.5rem;
     }
  
     .image {
       display: none;
     }
     .panel .content {
       padding: 0.5rem 1rem;
     }
     .loginContainer {
       padding: 1.5rem;
     }
  
     .loginContainer:before {
       bottom: 72%;
       left: 50%;
     }
  
     .loginContainer.sign-up-mode:before {
       bottom: 28%;
       left: 50%;
     }
   }

/* <----Contact style----> */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/* *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
} */
.contact-bg2{
    height: 40vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(assets/contact-bg.jpg);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-bg2 h3{
    font-size: 1.3rem;
    font-weight: 400;
}
.contact-bg2 h2{
    font-size: 3rem;
    text-transform: uppercase;
    padding: 0.4rem 0;
    letter-spacing: 4px;
}
.line div{
    margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3){
    height: 3px;
    width: 70px;
    background: #2EC8A6;
    border-radius: 5px;
}
.line{
    display: flex;
    align-items: center;
}
.line div:nth-child(2){
    width: 10px;
    height: 10px;
    background: #3c08cc;
    border-radius: 50%;
}
.textcontact{
    /* font-weight: 300; */
    font-size: 18px;
    opacity: 0.9;
    
}
.contact-bg .textcontact{
    margin: 1.6rem 0;
}
.contact-body{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}
.contact-info{
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
}
.contact-info span{
    display: block;
}
.contact-info div{
    margin: 0.8rem 0;
    padding: 1rem;
}
.contact-info span .fas{
    font-size: 2rem;
    padding-bottom: 0.9rem;
    color: #5995FD;
}
.contact-info div span:nth-child(2){
    font-weight: 500;
    font-size: 1.1rem;
}
.contact-info .textcontact{
    padding-top: 0.4rem;
}
.contact-form2{
    padding: 2rem 0;
    border-top: 1px solid #c7c7c7;
}
.contact-form2 form{
    padding-bottom: 1rem;
}
.form-control2{
    width: 100%;
    border: 1.5px solid #c7c7c7;
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    outline: 0;
}
.form-control2:focus{
    box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}
.c2 form div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.6rem;
}
.send-btn{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: #2EC8A6;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
}
.send-btn:hover{
    opacity: 0.8;
}
.contact-form2 > div img{
    width: 85%;
}
.contact-form2 > div{
    margin: 0 auto;
    text-align: center;
}
.contact-footer2{
    padding: 2rem 0;
    background: #000;
}
.contact-footer2 h3{
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;
}
.social-linkss{
    display: flex;
    justify-content: center;
}
.social-linkss a{
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    transition: all 0.4s ease;
}
.social-linkss a:hover{
    color: #f7327a;
    border-color: #f7327a;
}


@media screen and (min-width: 768px){
    .contact-bg .text{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px){
    .contact-bg .text{
        width: 50%;
    }
    .contact-form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    .contact-info{
        grid-template-columns: repeat(4, 1fr);
    }
}

/* DoctorProfile */
.profile-body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;  
}
.main-body1 {
    padding: 15px;
}

.card-profile {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card-profile{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body1 {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}



/* DoctorLogin */

#screen{
    background-color: white;
    border-radius: 30px;
    padding: 1.5rem;
    margin: auto;
}
#login{
    
}
#login .form-control{
    border-radius: 20px;
}
.btn-login{
    margin-top: 15px;
    background-image: linear-gradient(90deg,#8B33FF,#6A00F5);
    width: 100%;
    height: 40px;
    color:white;
    border-radius: 20px;
}
.btn-login:hover{
    color:white;
    box-shadow:0 2rem 3rem rgba(0,0,0,.175)!important;
}
.other-login{
    margin:20px 0 20px;
    text-align: center;
}
.other-login .btn-other-login{
    border:1px solid #ced4da;
    border-radius: 20px;
   margin: 5px 4px 5px;
}
.other-login .btn-other-login:hover{
    background-color: #ced4da;
}

.dev{
    margin-top: 5px;
}
.dev a,.n-psw a {
    text-decoration: none;
}
/* Profle cards */
/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box {
    padding: 10px;
    text-align: center;
  }
  .profile-box {
    width: 20pc;
    height: 30pc;
    border-radius: 20px 20px 20px 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #fcfcfc;
    transition: 0.4s;
  }
  .profile-box:hover {
    transform: translateY(-2px);
    box-shadow: 1px 1px 5px #616161;
  }
  .profile-img {
    background-color: rgb(0, 54, 155);
    border-radius: 0 20px 0 20px;
    height: 9pc;
    width: auto;
    padding-top: 2pc;
    transition: 0.4s;
  }
  .profile-img img {
    border-radius: 100%;
    border: 2px solid #f0f0f0;
    width: 40%;
  }
  .profile-img:hover {
    padding-top: 3pc;
  }
  .profile-docs {
    padding-top: 3pc;
  }
  .profile-docs h1 {
    font-size: 25px;
    padding: 10px;
  }
  .profile-docs h3 {
    font-size: 18px;
    color: rgb(0, 54, 155);
  }
  .profile-docs p {
    text-align: center;
    padding: 18px;
    font-size: 15px;
  }
  .profile-docs button {
    padding: 13px 25px;
    border-radius: 20px;
    border: 1px solid rgb(0, 54, 155);
    color: rgb(0, 54, 155);
    transition: 0.4s;
  }
  .profile-docs button:hover {
    background-color: rgb(0, 54, 155);
    color: #f0f0f0;
  }
  .profile-icon {
    display: flex;
    place-content: center;
    font-size: 22px;
    padding: 20px;
  }
  .profile-icon li i {
    transition: 0.2s;
    padding: 10px;
  }
  .profile-icon .fa-github:hover {
    color: #303030;
    transform: translateY(-3px);
  }
  .profile-icon .fa-instagram:hover {
    color: #c13584;
    transform: translateY(-3px);
  }
  .profile-icon .fa-linkedin:hover {
    color: blue;
    transform: translateY(-3px);
  }
  .profile-icon .fa-twitter:hover {
    color: #00acee;
    transform: translateY(-3px);
  }

   */

/* Footer */
html,
body{
    height: 100%;
    font-family: "Nunito Sans" , sans-serif;
    -webkit-font-smoothing: antialiased;
}
p{
    font-size: 15px;
    font-family: "Nunito Sans" , sans-serif ;
    color: #3d3d3d;
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 15px 0;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
ul{
    padding-left: 0;
}

input:focus{
    outline: none;
}
a:hover,
a:focus{
    text-decoration: none;
    outline: none;
    color: #ffffff;
}


/* Footer----------------------------------------------------------------------- */

.footer{
    background: #111111;
    padding-top: 70px;
}
.footer-about{
    margin-bottom: 30px;
}
.footer-about .footer-logo{
    margin-bottom: 30px;
}
.footer-about p{
    color: #b7b7b7;
    margin-bottom: 30px;
}
.footer-widget{
    margin-bottom: 30px;
}
.footer-widget h6{
    color:  #ffffff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.footer-widget ul li{
    line-height: 36px;
    list-style: none;
}
.footer-widget ul li a{
    color: #b7b7b7;
    font-size: 15px;
}
.footer-widget ul li a:hover{
    color: #e53637;
}
.footer-widget .footer-newslatter p{
    color: #b7b7b7;
}
.footer-widget .footer-newslatter form{
    position: relative;
}
.footer-widget .footer-newslatter form input{
    width: 100%;
    font-size: 15px;
    color: #ffffff;
    background: transparent;
    border: none;
    padding: 15px 0;
    border-bottom: 2px solid #ffffff;
}
.footer-widget .footer-newslatter form input::placeholder{
    color: #b7b7b7;
}
.footer-widget .footer-newslatter form button{
    color: #b7b7b7;
    font-size: 16px;
    position: absolute;
    right: 5px;
    top: 0;
    height: 100%;
    background: transparent;
    border: none;
}
.footer-copyright-text{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 0;
    margin-top: 40px;
}
.footer-copyright-text p{
    color: #b7b7b7;
    margin-bottom: 0;
}
.footer-copyright-text p i{
    color: #e53637;
}
.footer-copyright-text p a{
    color: #e53637;
}


.about-section {
  padding: 100px 0px;
}
.about-section .section-title h3 {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 30px;
}
.about-section .section-title h3:before {
  position: absolute;
  content: "";
  background: #ececec;
  bottom: 0px;
  left: 50%;
  margin-left: -120px;
  height: 1px;
  width: 240px;
}
.about-section .section-title h3:after {
  position: absolute;
  content: "";
  background: #48bdc5;
  bottom: 0px;
  left: 50%;
  margin-left: -25px;
  height: 1px;
  width: 50px;
}
.about-section .section-title p {
  font-size: 15px;
  line-height: 26px;
  color: #777777;
  font-weight: 400;
  padding-bottom: 30px;
}
.about-section .item-holder {
  position: relative;
  padding: 55px;
  margin-bottom: 28px;
  z-index: 1;
  cursor: pointer;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  transition: all 1500ms ease;
}
.about-section .item-holder:before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  width: 100%;
  height: 100%;
  background: #fafafa;
}
.about-section .item-holder:hover:before {
  display: none;
}
.about-section .item-holder:hover:after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 1500ms ease;
  background: linear-gradient(to right, rgba(122, 102, 203, 0.8) 0%, rgba(72, 189, 197, 0.74) 100%);
}
.about-section .item-holder .icon-box {
  position: relative;
  margin-bottom: 20px;
}
.about-section .item-holder i:before {
  font-size: 55px;
}
.about-section .item-holder:hover i:before {
  color: #ffffff;
}
.about-section .item-holder h6 {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  color: #222222;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.about-section .item-holder:hover h6 {
  color: #ffffff;
}
.about-section .item-holder h6:before {
  position: absolute;
  bottom: 0px;
  left: 50%;
  content: "";
  margin-left: -25px;
  background: #d1d1d1;
  height: 1px;
  width: 55px;
}
.about-section .item-holder:hover h6:before {
  background: #ffffff;
}
.about-section .item-holder p {
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  color: #777777;
  margin-bottom: 0px;
}
.about-section .item-holder:hover p {
  color: #ffffff;
}
